body {
    background-color: rgb(242, 242, 242);
    
}

a {
    
    justify-content: space-between;
    color: white;
    text-decoration: unset;
    font-size: 20px;
    font-style;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

#navbar {
    background-color:#c90505;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}



#conteudo {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 100px;

}

#gama-news {
    background-color:#c90505;
    width: 100%;
    height: 50px;
    margin: unset;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}


#imgBanner {
    
    width: 100%;
}


h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    padding-left: 2%;
    color: black;
    background-color: #ffcaca;
}

p {
    display: flex;
    margin-left: 3.5%;
    margin-right: 3.5%;
    font-size: 20px;
    text-align: justify;
    margin-bottom: unset;
    

}

.continue-lendo {
    color:#c90505;
    font-weight: bold;
    margin-left: 2px;
    margin-bottom: 4%;
}

#container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#rodape {
    background-color: #c90505;
    height: 90px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    
    
    
    
}

.criador {
    background-color: #c90505;
    color: white;
    font-size: 17px;
}

.cleiber {
    border-radius: 50%;
}

.linkedin {
    display: flex;
    justify-content: left;
    margin-top: 3.5%;
    margin-left: 3.5%;
}

#contato {
    background-color: #c90505;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    height: 500px;
    padding-top: 90px;
}

.dados {
    
    margin-left: 20%;
    padding-top: 10px;
}

input {
    width: 70%;
    height: 35px;
    margin-bottom: 10px;
}

#msg {
    height: 120px;
    
}

button {
    margin-top: 10px;
    margin-left: 20%;
    background-color: white; 
    width: 80px;
    height: 40px;
    color:#c90505;
    border: gray 1px;
    font-size: 17px;
    box-shadow: gray 2px 2px 5px;
    border-radius: 10%;

}

#fontes {
    margin-top: 40px;
}
.referencia {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}